@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,700;1,900&display=swap');
@tailwind base; 
@tailwind  components;
@tailwind utilities;
*{
    font-family: 'Roboto', sans-serif;
    transition: .4s;
}
#header{
    background: url(../src/assets/mainbg.svg);
    background-size: contain    ;
    background-repeat: no-repeat;
  
}
input[type=number] {
    -moz-appearance: textfield;
  }
@layer components {

    .animation-container{
    @apply min-h-[500px] flex flex-1 md:w-[100%] 

md:min-h-[200px]
}
    section{
       @apply lg:overflow-hidden;
    }
    header{
        @apply min-h-[100vh] w-[100%]  md:p-0  md:min-h-[500px] 
    }
    header ul li {
        @apply text-white font-semibold h-auto  flex justify-center items-center hover:text-green
    }
    nav{ 

        @apply
        w-[100%] flex justify-between flex-row items-center px-10  py-[26px]  lg:px-10 md:justify-start 
        overflow-hidden
        md:px-0 md:bg-white md:w-[100%] md:p-0 md:m-0 md:fixed md:flex-col    md:z-50 md:items-start md:pb-5 md:shadow-md md:hidden
    }
    nav ul  {
        @apply  flex justify-start items-center  w-auto flex-1 pr-0 md:flex-col md:pr-0 md:justify-start md:items-start lg:pr-0 lg:justify-start 
    }
    nav ul li {
@apply md:text-left mx-2 md:px-0
    }
    .am-compan{
        @apply border-l-solid border-l-[3px] pl-2 border-l-white md:border-none
    }
    nav ul li a {
        @apply   md:text-black   
    }
    nav h1 {
        @apply flex-1 pl-20  text-black text-[24px] font-semibold    md:w-[100%] md:text-left md:pl-0 md:text-strong-blue lg:pl-0
    }
    .post-job-btn{
        @apply bg-blue px-6 py-1 rounded-md shadow-xl text-white hover:scale-105 md:mt-5  md:px-5
     }
     .container {
        @apply flex  justify-start flex-row flex-wrap items-start px-32  md:px-10 md:flex-col   w-[100%] 
    }
     .container div{
        @apply  flex   flex-col flex-1 justify-start items-start  relative md:min-w-[100%] md:text-black    

    }
     .container  button {
        @apply bg-green text-white px-5 py-2 rounded-md hover:bg-strong-blue
    }
   
    header .container div:first-child{
        @apply pt-[60px]
    }
    header .container div h6{ 

        @apply font-semibold text-white capitalize opacity-70   md:text-black  md:text-center md:w-[100%]
    }
    header .container div h1{
        @apply text-white  text-[2rem] font-bold capitalize   md:text-black  md:w-[100%] md:flex  md:text-center  md:px-10 md:mb-10 
    }
    header .container div .input-search ,.jobs-header .input-search{
        @apply bg-white py-2 rounded-md mt-5 shadow-2xl flex items-center
        relative
    }
 .btn-container{
@apply md:w-[100%] md:flex md:flex-row md:justify-center md:items-center   relative h-[100px] justify-center items-center md:min-h-[100px]
    }


    .laptop {
        @apply   absolute top-[40px]  mt-0 h-[400px]
  md:left-[10%]  md:w-[80%]  md:top-0  md:h-auto
    }
 
     .email {
        @apply absolute  w-[80px]  scale-75   md:top-20 z-20  md:right-60 md:w-[60px] 
    }
      
    .search {
        @apply absolute   w-[100px]  top-40 left-6  rotate-[80deg]  z-20   md:top-0 md:w-[60px] md:left-20 
    }
#feature ,#get-job, #reviews{
    @apply flex justify-center items-center px-32 mb-16  md:flex-wrap md:px-10  md:flex-col
}

#feature div , #get-job div {
    @apply flex-1   md:w-[100%]
}
#feature div h1 , #get-job div h1 ,#reviews div h1 ,#featured-jobs div h1,#news-letter h1{
    @apply text-[1.8rem] font-bold text-[#333] md:text-center md:text-[1.5rem] md:mb-5 md:w-[100%] md:justify-start
}
#feature div p , #get-job div p  ,#news-letter p    {
    @apply lg:pr-0 pr-60 text-gray-dark md:p-0 md:text-center 

}
#feature div button , #get-job div button,#featured-jobs div button {
    @apply bg-light-blue text-[16px] my-5  text-blue px-3 py-1 rounded-md hover:text-strong-blue   
}
.slider-container{
    @apply h-[300px] w-[100%] flex pl-[160px] flex-col md:p-0
    
}
.slider-container .box {
    
    @apply h-[240px] relative overflow-hidden
}
.slider-container .box img{
    @apply h-[240px] relative overflow-hidden object-contain  slide-animation
}
.slider-container .wrapper button {
    @apply hover:scale-105 
}
.slider-container .slider  {
    @apply flex flex-row
}
.slider-container .wrapper div{
    @apply inline-block w-auto
}
.slider-container .wrapper {
    @apply flex flex-col justify-start items-start relative mt-2
}
.slider-container .wrapper ul {
    
    @apply flex flex-row  justify-start  items-start    
}
.slider-container .wrapper ul li {
    @apply w-[60px] h-[60px] overflow-hidden  mr-2 cursor-pointer hover:opacity-50
}
.slider-container .wrapper ul li img{
    @apply w-[100%] h-[100%] object-fill

}
.slide-animation{
    animation:slide .2s ease-in;
}
#get-job{
    @apply mt-[200px] md:mt-[0px]
}
#get-job .talented-people{
    @apply flex  flex-col  justify-start items-center pr-40 md:p-0 md:scale-75  md:px-0 md:justify-center
}
#get-job .talented-people .person {
    @apply w-[140px] h-[140px]  overflow-hidden flex justify-center items-center  m-2 shadow-blue-light rounded-md
}
#get-job .talented-people .person img{
    @apply  w-[100%] h-[100%]  rotate-[-45deg] scale-[1.5] hover:scale-[3] cursor-pointer

}
.small{
    @apply   person  scale-[0.75] 
}

.reviewimg{
    background: url(../src/assets/reviewimg.svg);
    background-size:contain;
    background-repeat: no-repeat;
    @apply h-[600px] w-[600px] md:h-[600px] md:w-[100%] 
}
.review-place {
    @apply relative  flex-1  
}
.reviewimg{
    @apply flex justify-center items-start md:items-center
}
.review-box{
    @apply h-[400px] mt-24 w-[400px] flex flex-col justify-start items-center p-0 m-0  md:h-[400px] md:mt-0  
}
.review-box div  {
    @apply  w-[80px] h-[80px] overflow-hidden rounded-full  border-[5px] border-solid border-gray-light
}
.rev-img{
    @apply md:mt-[-100px]
}
.review-box div img {
    @apply w-[100%] h-[100%]
}
.review-box h2{
   @apply mt-3 text-[22px] text-gray-light font-semibold 
}
.review-box p{
    @apply mt-3 text-white  text-center md:text-black md:w-[300px] md:mt-0
}
#featured-jobs{
    @apply min-h-[500px]  relative w-[100%] flex flex-row justify-center items-center  md:flex-col  z-40 md:min-h-0 md:pt-20
}
.featured {
    @apply  justify-start w-[40%] pr-40 z-20 mt-10 md:px-10 md:w-[100%]  md:text-center
}
.mobile-img{
    @apply relative z-20 mt-20 md:mt-[-200px]
}

#featured-jobs div p{
    @apply text-gray  mt-3 
}
#featured-jobs div button {
    @apply bg-blue text-light-blue hover:tracking-widest hover:text-light-blue
}
#news-letter{
    @apply px-32 flex justify-center items-center flex-col md:px-10
}
#news-letter p,footer p  {
    @apply p-0 mt-5 text-gray md:w-[100%] md:text-center 
}
.email-input{
    @apply shadow-2xl w-[500px] min-w-[280px] bg-white rounded-md  mt-5 mb-5  overflow-hidden 
}
.email-input input{
    @apply w-[75%] p-2 
}
.email-input button {
    @apply bg-blue text-white w-[25%] p-2 hover:bg-green text-[12px] 
}
footer{
    @apply mx-32 flex flex-row justify-center items-center my-10 border-b-[1px] border-solid border-b-gray md:px-10 md:flex-col-reverse md:mx-0 
}
footer div{
    @apply flex-1
}
footer h1 {
    @apply md:text-center md:font-bold md:mt-5 
}
footer p {
    @apply pr-36 md:pr-0 md:w-[100%] md:text-center
}
footer ul{
    @apply my-3 flex flex-row flex-nowrap md:justify-center md:items-center
}
footer ul li {
    @apply w-[30px] h-[30px] rounded-full border-gray border-solid border-[2px] flex justify-center items-center mx-2 
}
footer ul:nth-child(2){
    @apply border-blue
}
footer ul li i {
@apply  text-gray
} 
.products-container{
    @apply flex flex-row justify-between items-center md:justify-around md:items-end
}
.products {
    @apply block  md:mx-5
}
.products p , .products h1 {
    @apply p-0 m-0
}

/*------main page ends */
/*-----------  register page starts ------------*/
.register-header ,.jobs-header{
    background: url(../src/assets/secbg.svg);
    @apply bg-cover bg-no-repeat min-h-[300px] w-[100%] flex justify-center items-start text-center   md:pl-0   pr-0   
    
}
.register-header h1,.jobs-header h1 {
    @apply mt-20 text-[3rem] text-white font-bold  text-center w-[100%] md:text-[2rem] md:p-0
}
.cnotainer{
    @apply w-[100%] p-32  flex justify-center items-center
}
.register-box{
   @apply flex justify-center items-center flex-col text-center  rounded-lg shadow-xl px-20 py-10 md:px-0
}
.register-box h1 {
 @apply mb-10 text-[1.7rem] md:text-[1.4rem]
}
.register-box form div{
  @apply flex flex-col flex-nowrap  justify-center items-center relative
}

.register-box form {
    @apply  flex flex-col
}
.register-box form  div span{
    @apply text-left text-red text-[12px] mb-2 pl-5 w-[100%]
}
.register-box form div i {
    @apply absolute right-5 cursor-pointer text-blue hover:text-green md:right-16
}
.register-box form div label {
    @apply text-left text-gray-dark w-[100%]
}
.register-box form input{
    @apply w-[400px] min-w-[280px] outline-none p-2 border-[1px] border-solid border-gray mb-3 rounded-md md:max-w-[280px] md:mx-12
}
.register-box form button {
    @apply bg-blue text-white rounded-lg px-10 py-2 mt-5 max-w-[200px] hover:tracking-widest
}
/*  ---- register pages ends */
/* ----- jobs page starts -------*/
.jobs-header{
    @apply flex flex-col justify-center items-center
}
.jobs-header .input-search{
@apply w-[400px] md:max-w-[300px]
px-2
}
.jobs-header .input-search input ,textarea {
    @apply w-[90%] outline-none pl-2  md:max-w-[280px]
}
.jobs-header h1 {
    @apply mt-1
}
.jobs-box{
    @apply flex    flex-row justify-start items-start  w-[100%]  md:px-5  md:flex-col
}
.jobs-box .filter{
    @apply  flex  w-[25%] md:w-auto md:flex flex-col
}
.jobs-box h1 {
    @apply text-[1.5rem] my-5 md:text-[1rem] md:font-bold
}
.jobs-box select{
    @apply px-2 py-1 rounded-md
}
.jobs-box  #city div {
    @apply my-2
}
.jobs-box  #city div span {
    @apply pl-3
} 
.jobs-box #jobs  {
@apply flex flex-col justify-start items-start pl-5 pt-10 md:p-0
}
.jobs-box #jobs div {
    @apply w-[100%] min-w-[300px] flex flex-row flex-nowrap   items-start mb-3  justify-start md:flex-col 
}
.jobs-box #jobs div h1{
    @apply w-auto pr-4 font-bold text-[3.4rem] text-purple md:w-[100%] md:mx-5  
}
.jobs-box #jobs div .details {
    
    @apply w-[100%]  text-gray p-2 flex flex-col shadow-none rounded-md cursor-pointer hover:bg-gray hover:text-white md:w-[100%] md:pl-5
}
.jobs-box #jobs div .details h4{
    @apply font-bold text-[1.2rem] w-auto
}
.jobs-box #jobs div .details div {
    
    @apply mt-2  text-blue md:flex md:flex-row 
}
.jobs-box #jobs div .details div h4 {
    @apply text-[12px] ml-3 md:w-[100%] font-semibold 
}
.jobs-box #jobs div span{
    @apply w-[15%] ml-10 text-[12px] text-blue bg-light-blue text-center py-1  rounded-md  shadow-sm  md:w-auto md:px-5

}

/*-----job page ends */
/*  ------Animations  --------*/

@keyframes slide {
    0%{
        @apply ml-10 skew-x-[-4deg]
    }
} 

}

/*-----loading style and animations ------*/
.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
    animation-delay: 0.4s;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #cef;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }